body {
  background: #a4c6e5;
  margin: 3rem;
}
.App {
  text-align: center;
  padding: 2rem;
  border: 1px solid #3c5a7a;

  background: #7f99b0;
  border-radius: 0.5rem;
}

#dashboard-kpi-app {
  background: gray;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-radius: 0.5rem;
}
